*{
    margin: 0;
    padding: 0;
}
.container{
    /* border: 2px solid rosybrown; */
    width: 365px;
    height: 358px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    background: url('Birthday_cake.jpg');
    background-size: cover;
    display: none;
}
.container img{
    position: relative;
    left: -136px;
    top: -134px;
    width: 599px;
    height: 659px;
}
.click{
    position: absolute;
    left: 42%;
    top: 30%;
    color: aqua;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.input{
    width: 300px;
    height: 20px;
    margin: auto;
}
/* .input input{
    padding-left:10px ;
} */
@media only screen and (max-width: 700px) {
    .container{
        width: 300px;
        height: 290px;

    }
    .container img{
    position: relative;
    left: -146px;
    top: -154px;
    width: 542px;
    height: 471px;
    }
    .click{
        font-size: 1rem;
    }
  }